<!doctype html>
<html lang="en">
  <head>
    <title>website</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link 
    rel="stylesheet" 
    type="text/css" 
    href="./lib/bootstrap/dist/css/bootstrap.css"
    />

    <link rel="stylesheet" type="text/css" href="./assets/css/css.css" />
  </head>
  <body>


<div class="main-bloc">
  <div class="left-column userList">
    <ul class="list-group">
      <li class="list-group-item resetBorderRadius list-group-item-dark">User list</li>
      <li class="list-group-item resetBorderRadius">
        <span class="badge badge-pill badge-info">bot ubert</span>
        @bot-uber
      </li>
      <li class="list-group-item resetBorderRadius">
        <span class="badge badge-pill badge-info">bot carrefour</span>
        @bot-carrefour
      </li>
      <li class="list-group-item resetBorderRadius">
        @root
      </li>
    </ul>

  </div>

  <div class="right-column">

    <!--- CHAT MESSAGES -->
    <div class="chat-content">
      <!-- msg right -->
      <div class="message-global message-right">
        <label class="labelUserName">@bot</label>
        <div class="card">
          <div class="card-body">
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <!-- .\ msg right -->

      <!-- msg left -->
      <div class="message-global message-left">
        <label class="labelUserName">@user</label>
        <div class="card">
          <div class="card-body">
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <!-- msg left -->
      <!-- msg right -->
      <div class="message-global message-right">
        <label class="labelUserName">@bot</label>
        <div class="card">
          <div class="card-body">
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <!-- .\ msg right -->

      <!-- msg left -->
      <div class="message-global message-left">
        <label class="labelUserName">@user</label>
        <div class="card">
          <div class="card-body">
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <!-- msg left -->
      <!-- msg right -->
      <div class="message-global message-right">
        <label class="labelUserName">@bot</label>
        <div class="card">
          <div class="card-body">
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <!-- .\ msg right -->

      <!-- msg left -->
      <div class="message-global message-left">
        <label class="labelUserName">@user</label>
        <div class="card">
          <div class="card-body">
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <!-- msg left -->
      <!-- msg right -->
      <div class="message-global message-right">
        <label class="labelUserName">@bot</label>
        <div class="card">
          <div class="card-body">
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <!-- .\ msg right -->

      <!-- msg left -->
      <div class="message-global message-left">
        <label class="labelUserName">@user</label>
        <div class="card">
          <div class="card-body">
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <!-- msg left -->
    </div>
    <!--- .\CHAT MESSAGES -->

    <!--- CHAT BAR -->
    <div class="chat-bar">
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text resetBorderRadius" id="inputGroup-sizing-lg">@guest</span>
        </div>
        <input 
          type="text" 
          class="form-control resetBorderRadius inputSendMessage" 
          aria-label="Large" 
          aria-describedby="inputGroup-sizing-sm">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary btnSendMessage" type="button">Button</button>
        </div>
      </div>
    </div>
    <!--- .\ CHAT BAR -->

  </div>
  
</div>

  <script type="text/javascript" src="./assets/js/js.js"></script>
  </body>
</html>